[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causaldata"]
	path = causaldata
	url = https://github.com/cran/causaldata
[submodule "vtable"]
	path = vtable
	url = https://github.com/nickch-k/vtable
